<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3  appHighight class="text-center">Sign Up</h3>

            </div>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>

                        <input type="text" name="uname" formControlName="uname" class="form-control"
                            placeholder="User name Please...." id="login_uname" required>


                    </div>
                    <div *ngIf="this.registerForm.get('uname')?.touched&&this.registerForm.get('uname')?.errors"
                        style="color: red;">Invalid username..</div>

                    
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>

                    
                    <input type="text" name="acno" formControlName="acno" class="form-control"
                        placeholder="Account number" id="login_accno" required>
                    </div>
                    <div *ngIf="this.registerForm.get('acno')?.touched&&this.registerForm.get('acno')?.errors"
                        style="color: red;">Invalid Account number..</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="pswd" formControlName="pswd" class="form-control"
                            placeholder="Password" id="login_password" required>
                    </div>
                    <div *ngIf="this.registerForm.get('pswd')?.touched&&this.registerForm.get('pswd')?.errors"
                        style="color: red;">Invalid password format...</div>

                    <div class="form-group">
                        <!-- event binding  (click)="login()" -->
                        <input type="submit" value="Register" class="btn float-right login_btn " style="width:50%">
                    </div>



                    <!-- routerLink for same as href -->

                    <p style="color:white;align-items:baseline;">Existing user? <a routerLink="">Log in</a></p>
                </form>
            </div>
        </div>
    </div>
</div>